
input:focus {
    outline: none;
}
.todo-container{
    border: 2px solid lightgrey;
}
#stacked-todo{
    width: 74.5%;
    height: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0px 1.5px 1.5px 1.5px;

}
#second-stacked-todo{
    width: 74%;
    height: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0px 1.5px 1.5px 1.5px;
}
.todo-item{
    border: 0px;
    color: grey;
}
button[type="submit"] {
    border: 0px;
    background: rgb(253, 216, 222);
    padding: 0.5rem 1rem;
    color: grey;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
  }
button[type="submit"]:hover,
button[type="submit"]:focus {
    background: pink;
}
button[type="submit"]:active {
    transform: scale(0.99);
}
.invalid-input{
    border: 2px solid pink;
}
.valid-input{
    border: 0px;
}
.delete-btn{
    visibility:hidden;
    border:0px;
    padding-right:1.5rem;
    color:pink;
}
.delete-btn:hover{
    visibility:visible;
}
.todo-item:hover + .delete-btn{
    visibility:visible;
}
#count{
    padding-left: 0.5rem;
    font-size: x-small;
    color:rgb(201, 199, 199);
    margin:0px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(212, 208, 208);
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgb(212, 208, 208);
}

::-ms-input-placeholder { /* Microsoft Edge */
color: rgb(212, 208, 208);
}